/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

button {
  width: 8rem;
  height: 1.6rem;
}

button.rmv-btn {
  width: 6rem;
  height: 1.3rem;
  font-size: small;
  margin: 2px;
}

button.toggle-btn {
  width: 6rem;
  height: 1.3rem;
  font-size: small;
  margin: 2px;
}


/* Book form styling */

#book-input{
  display: grid;
  grid-template-columns: 5rem 1fr;
  align-items: center;
  gap: 0.75rem;
  max-width: 300px;
  margin: 2rem auto;
}

#book-input input[type="checkbox"] {
  justify-self: start;
}

#book-input button {
  grid-column: 2;
  justify-self: start;
}

/* book card styling */

#library-list {
  display: grid;
  max-width: 300px;
  margin: 2rem auto;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  border: solid;
}

